@font-face {
    font-family: "PixelMplus12";
    src:
    url("../font/PixelMplus12-Regular.ttf")
    format("truetype");
}

/* =========================================
   全体
   ========================================= */

#stageclear-root {

    width: 100vw;
    height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;
}

/* =========================================
   コンテンツ
   ========================================= */

#clear-container {

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: clamp(20px, 3vh, 40px);
}

/* =========================================
   タイトル
   ========================================= */

#clear-title {

    font-family:
        "PixelMplus12",
        sans-serif;

    font-size:
        clamp(50px, 8vw, 80px);

    color:
        rgb(180,180,180);

    text-align: center;

    margin: 0;
}

/* =========================================
   アイテムエリア
   ========================================= */

#reward-box {

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 20px;
}

#reward-image {

    width: clamp(80px, 12vw, 150px);

    height: auto;
}

#reward-text {

    font-family:
        "PixelMplus12",
        sans-serif;

    font-size:
        clamp(18px, 2vw, 24px);

    color: gray;
}

/* =========================================
   スコア
   ========================================= */

#score-label {

    font-family:
        "PixelMplus12",
        sans-serif;

    font-size:
        clamp(24px, 3vw, 30px);

    color: gray;
}

/* =========================================
   ボタン
   ========================================= */

#button-box {

    display: flex;

    flex-direction: column;

    gap: 20px;

    align-items: center;
}

#next-btn,
#title-btn {

    width: clamp(220px, 25vw, 250px);

    height: clamp(60px, 8vh, 80px);
}

/* =========================================
   スマホ
   ========================================= */

@media (orientation: portrait) {

    #reward-box {

        flex-direction: column;
    }

}